[user]
    email = ryan.puhalovich@dxc.com
    name = Ryan Puhalovich
[init]
    defaultBranch = main
[core]
    editor = vim
[diff]
    tool = vimdiff
[alias]
    a = add .
    b = branch
    bl = blame
    c = commit -am
    ch = checkout
    rclone = clone --recursive
    l = log --graph --oneline --decorate
    m = merge
    r = rebase
    s = status
    subup = submodule update --init --recursive
